
*.exe
Agent/agent
*.DS_Store
Agent/payloads/PowerShell.ps1
Agent/payloads/shell.sh
*/nodes.json
*.key
*.crt
*.csr
Learning/Download2/Client/Downloads/*
Learning/Download2/Server/payloads/*
Main/Server/payloads/*
main/Client/Downloads/*
Main/Server/nodes.json
Main/Server/nodes.json
