
*.exe
Agent/agent
*.DS_Store
Agent/payloads/PowerShell.ps1
Agent/payloads/shell.sh
*/nodes.json
*.key
*.crt
*.csr
Learning/Download/Client/Downloads/*
Learning/Download/Server/payloads/*
Main/Server/payloads/*
main/Client/Downloads/*
Main/Server/nodes.json
Main/Server/nodes.json
*.png
*.test
/Main/Agent/uploads/*
Learning/Persistance/persistance_test
Main/Agent/agent
Main/Server/server
Main/Setup script/agent
Main/Agent/NiceC2_agent
*.srl
